.phase-creator {
  width: 600px;

  .add-phase-button {
    border: 1px solid grey;
  }

  .phase-row {
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 7px;
    padding: 15px 20px 15px 15px;
  }

}